{# templates/legal/mentions_legales.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>
    <p>Les mentions légales de ce site seront ajoutées ici par le service juridique.</p>
    
{% endblock %}
