{# templates/legal/politique_confidentialite.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <h1>Politique de confidentialité</h1>
    <p>Cette politique de confidentialité de notre site sera ajouté par le service juridique.</p>
{% endblock %}
