<form method="post" action="{{ path('app_admin_article_delete', {'id': article.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button type="submit">Supprimer</button>
</form>
